body {
  background-color: #EDEDED;
}

.title {
  text-align: center;
}

.character-list-container li {
  list-style: none;
}

.character {
  background-color: #FFF;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 2px 5px;
  height: auto;
  width: 75%;
}

.character img {
  height: 140px;
  position: absolute;
  margin-left: -10px;
  clip: rect(0px,85px,140px,10px);
}

.character-details {
  padding-left: 90px;
}

.character-details h2,
.character-details p {
  margin: 0;
  padding: 0;
}